In [1]:
import psycopg2
import pandas as pd

In [43]:
import talib

In [31]:
class Postgresql(object):
    def __init__(self, host, port, user, password, database):
        try:
            self.conn = psycopg2.connect(host=host, port=port, user=user, password=password, database=database)
        except psycopg2.DatabaseError as e:
            print('连接postgresql失败', e)
        
    def selectSql(self, sql):
        with self.conn.cursor() as cursor:            
            try:
                cursor.execute(sql)
                result = cursor.fetchall()
                return result
            except psycopg2.Error as e:
                self.conn.rollback()
                print('select事务失败', e)
    def insertSql(self, sql):
        with self.conn.cursor() as cursor:
            try:
                cursor.execute(sql)
                self.conn.commit()
                self.conn.close()
            except psycopg2.Error as e:
                self.conn.rollback()
                print("insert 事务失败", e)
                
    def updateSql(self, sql):
        with self.conn.cursor() as cursor:
            try:
                cursor.execute(sql)
                self.conn.commit()
                self.conn.close()
            except psycopg2.Error as e:
                self.conn.rollback()
                print("insert 事务失败", e)
    def delSql(self, sql):
        with self.conn.cursor() as cursor:
            try:
                cursor.execute(sql)
                self.conn.commit()
                self.conn.close()
            except psycopg2.Error as e:
                self.conn.rollback()
                print("insert 事务失败", e)

In [32]:
ps = Postgresql('localhost', '5432', 'postgres', 'postgres','zhoutao')

In [37]:
result = ps.selectSql("select code, name, last_price,high_price, low_price,open_price from stocks_a where code='600117'")

In [40]:
df = pd.DataFrame(result, columns=['code', 'name', 'last_price','high_price', 'low_price','open_price'])

     code  name  last_price  high_price  low_price  open_price
0  600117  西宁特钢        4.80        4.80       4.27        4.32
1  600117  西宁特钢        4.88        5.26       4.71        4.80
2  600117  西宁特钢        4.55        4.80       4.39        4.53
3  600117  西宁特钢        5.01        5.01       4.55        4.57
4  600117  西宁特钢        5.51        5.51       5.16        5.24

In [ ]:
#talib计算的CCI指标
cci = talib.CCI(df['high_price'].values, df['low_price'].values, df['last_price'].values, timeperiod=21)
cci_avg = tablib.SMA(cci, 60)

if cci[-1] > 100:
    if cci[-2] < 100:
        if bar_dict[context.s1].is_trading:
            order_target_percent(context.s1, 0.98)
    if (cci_avg[-1] > cci[-1] and cci_avg[-2] < cci[-2]):
        if bar_dict[context.s1].is_trading:
            order_target_percent(context.s1, 0)
if cci[-2] < -100:
    if cci[-1] > -100:
        if bar_dict[context.s1].is_trading:
            order_target_percent(context.s1, 0)
    if (cci_avg[-1] < cci[-1] and cci_avg[-2] > cci[-2]):
        if bar_dict[context.s1].is_trading:
            order_target_percent(context.s1, 0.98)

In [44]:
cci = talib.CCI(df['high_price'].values, df['low_price'].values, df['last_price'].values, timeperiod=21)

In [45]:
cci

array([          nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
        -57.34656787,  -54.64240011,  -65.21937218,  -75.99706946,
        -61.24882755,  -31.49264191,   -3.39092524,   45.58622737,
         62.18308496,   60.39101092,  104.07494479,   74.24471844,
         39.69205715,  -14.42717978,  -52.10727969,  -50.70737822,
        -86.62060302,  -54.55120101,   75.05081301,  132.35341365,
        108.33787466,   98.35102778,   99.32329186,   45.47171236,
         -1.10694965,    1.02339181,   51.34250164,   71.32148806,
         47.95134443,   -6.43992194,  -30.70967742,  -35.50869194,
         -3.76013283,    7.3512252 ,  -94.49866054, -129.9847793 ,
       -134.9905838 , -117.21633294, -160.34977064])

In [50]:
cci_avg = talib.SMA(cci, 5)

In [51]:
cci_avg

array([          nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
        -62.89084744,  -57.72006224,  -47.46976727,  -25.30864736,
          2.32738353,   26.65535122,   53.76886856,   69.2959973 ,
         68.11716325,   52.7951103 ,   30.29545218,   -0.66101242,
        -32.83407671,  -51.68272834,  -33.78712979,    3.10500888,
         34.91405946,   71.90838562,  102.68328419,   96.76746406,
         70.0753914 ,   48.61249483,   39.21078961,   33.61042885,
         34.10635526,   33.0397608 ,   26.69314695,    9.32290824,
         -5.69341594,  -13.81343978,  -31.4251875 ,  -51.28020788,
        -71.17658625,  -93.86782628, -127.40802545])